.account-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-username {
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.edit {
    background-color: #b2ffb2;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.hidden {
    display: none;
}