.quiz-body-page {
    height: 90vh;
    width: 100vw;
    color: #86c232;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.quiz-buttons {
    border-radius: 5px;
    border: none;
    background-color: #86c232;
    padding: 10px 15px;
}

.quiz-page-spreading {
    display: flex;
    justify-content: space-evenly;
}

.question-box {
    border: solid black 2px;
    height: 15vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.question {
    text-align: center;
}

.finish-quiz-button {
    border-radius: 5px;
    border: none;
    background-color: #86c232;
    padding: 10px 15px;
}


/* 
This is for the size question
because this has the most options we need a bigger sized box
 */

.quiz-buttons-size {
    border-radius: 5px;
    border: none;
    background-color: #86c232;
    padding: 10px 15px;
}

.quiz-page-spreading-size {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.question-box-size {
    border: solid black 2px;
    height: 45vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.question-size {
    text-align: center;
}