@media (max-width: 500px) {
    .dog-box{
        height: 40vh;
        width: 50vw;
        border: solid black 2px;
        margin-top: 7%;
    }
    
    .dog-image{
        width: 50vw;
        height: 25vh;
    }
}

@media (min-width: 701px) {
    .dog-box{
        height: 35vh;
        width: 20vw;
        border: solid black 2px;
        margin-top: 7%;
    }
    
    .dog-image{
        width: 20vw;
        height: 20vh;
    }
}